button
{   
    background-color: white; 
    background: none;
    border: none; 
}

.navbar
{
    top: 0; 
    display: flex; 
    justify-content: space-around;
    align-items: flex-start; 
    flex-flow: column wrap; 
    width: 100%;
    height: 200px;
    padding: 30px 0 30px 0; 
    background-color: white; 
    font-family: 'Roboto Condensed', sans-serif; 

}

.owner
{
    align-self: flex-start;    
    transition: all 500ms ease-in;
}

.owner:hover
{
        transform:scale(1.5);
 }

.nav-select
{
  visibility: hidden; 
  background-color: black;
  color: white; 
  font-size: 1rem; 
}

.nav-select:focus
{
    visibility: visible; 
}

.navselectmenu
{
 height: 100px; 
 width: 100px;
 border: 1px solid black;    
 transition: all 500ms ease-in; 
}

i{
    font-size: 3rem; 
}

.navselectmenu:hover
{
-webkit-transform: rotate(720deg);  
 transform:scale(0.75);
}


/**
  * media query for responsiveness starts here --
  **/ 

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 

{



} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 

{



} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{


} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{



} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{



}
