body {
    height: 100vh; 
    width: 100vw; 
    display: flex; 
    flex-flow: column wrap; 
    justify-content: center; 
    align-content: center;
}


.bebold {
    margin: 5vw; 
    align-self: center; 
    font-family: 'Major Mono Display', monospace;
    font-size: 4vh; 
}

.hi {
    align-self: center; 
    font-family: 'Oswald', sans-serif;
    font-size: 2vh; 
    letter-spacing: 0.5vw;

}

i {
    font-family: Helvetica, sans-serif;
    
}

a {
    text-decoration: none; 
    color: black; 
    display: inline; 
    font-size: 5vh; 
}

a:visited 
{
    color: black; 
    text-decoration: none; 
    color: black; 
    display: inline; 
    font-size: 5vh; 
}


/* 
spinner css below -- 
*/

.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }

  /*
  * spinner css ends here
  *
  */

